<div class="container-fluid color-mid">
  <div class="row row-fixed triggered">
    <div class="row text-left">
      <div class="trail">
        <a href="#/home">Home</a> >>
        <a href="#/posts/1">Blog</a>
      </div>
    </div>

    <div class="col-md-8 post">
      {{#items}}
      <div class="container-fluid">
        <div class="row text-left">
          <h3 class="post-title"><a href="#/posts/post/{{id}}">{{title}}</a></h3>
          <!-- <hr class="line-with-shadow"> -->
          <div><img class="line-with-shadow" src="../../assets/images/border.png"></div>
        </div>
        <div class="row text-left posted-by">
          Posted by <span>{{userName}}</span>
        </div>
        <div class="row text-left">
          <div class="col-md-4 post-img">
            <img src="{{img}}" alt="">
          </div>
          <div class="col-md-8 body">
            {{content}}
          </div>
        </div>
        <div class="container-fluid">
          <button class="btn btn-default btn-xs pull-right read-more"><a href="#/posts/post/{{id}}">Read more</a></button>
        </div>
      </div>
      {{/items}}
    </div>
    <aside>
      <div class="col-md-4 recent">
        <div class="container-fluid posts text-left">
          <h4 class="text-left">Recent Posts</h4>
          <div class="container-fluid color-light field">
            <ul>
              {{#items}}
              <li><a href="#/posts/post/{{id}}">{{title}}</a></li>
              {{/items}}
            </ul>
          </div>
        </div>
        <div class="container-fluid comments text-left">
          <h4 class="text-left">Recent Comments</h4>
          <div class="container-fluid color-light field">
            <ul>
              {{#items}}
              <li><a href="#/posts/post/{{id}}">{{comment}}</a></li>
              {{/items}}
            </ul>
          </div>
        </div>
      </div>
    </aside>
  </div>
  <div style="width:56%;display:-webkit-inline-box"><img style="width:100%;" src="../../assets/images/border-right.png"></div>

</div>
<div id="pagination">
  <p>Page {{items.page}} of 4</p>
  <a id="btn-page" href="#/posts/1">1</a>
  <a id="btn-page" href="#/posts/2">2</a>
  <a id="btn-page" href="#/posts/3">3</a>
  <a id="btn-page" href="#/posts/4">4</a>
</div>